doctype html
html
  head
    title= title
    link(rel=stylesheet, href='/stylesheets/style.css')
  body
    h1 Some parameter and variable uses
      h4 Referenced from parameter - #{title}
    -var otherTitle = 'This comes from inside layout.pug'
      h4 My other Title - #{otherTitle}
    block content
